hr {
  border-color: #132743;
  border-style: dotted none none;
  border-width: 6px;
  width: 10%;
}
body {
  background-color: #f8efd4;
}
h1, h3, h4 {
  color: #132743;
}

.my_image {
  border-radius: 60%;
  width: 170px;
}
td,p, li {
  color: #d7385e;
}
